*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    display:flex;
    align-items:center;
    background-color:rgb(32, 32, 32);
    flex-direction: column;
}

#upperHeader{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#ButtonBook{
    flex: 0.5;
    display:flex;
    align-items: center;
    justify-content: center;
}

#logo, #logo img{
    width: 75px;
    height: 75px;
    margin-left:25px;
}
#logo{
    flex: 0.5;
}
#list{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    flex-direction: row;
    list-style-type: none;
    font-size: large;
    font-weight: 600;
    color: white;
}
#ButtonBook button{
    width:180px;
    height:60px;
    margin-right: 15px;
    margin-left: auto;
    background-color:rgb(32, 32, 32);
    border-color: white;
    color:white;
    font-size:large;
    font-weight:600;
}





#downHeader{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#leftDownHeader{
    display:flex;
    justify-content:center;
    flex: 1;
    flex-direction: column;
}
#open{
    color:white;
    display: inline-block;
    margin-left:50px;
    font-size: 50px;
}
#living{
    color:rgb(255, 72, 0);
    display: inline;
}
#apet{
    margin-left:50px;
    font-size: large;
    color:grey;
}





#rightDownHeader {
    flex:0.5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right:25px;
    margin-left:auto;
    border-bottom: 4px solid rgb(43, 43, 43);
    padding-bottom: 5px;
}

.href {
    margin: 0;
    color: white;
    font-size: 20px;
}
#p2{
    gap: 55px;
}
#p3{
    gap: 70px;
}

.buttonForHref {
    margin: 0;
    width:16px;
    height:16px;
    background-color:rgb(255, 72, 0);
    color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
}

